In [56]:
import os,sys,inspect
currentdir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
parentdir = os.path.dirname(currentdir)
sys.path.insert(0,parentdir) 

import data_utils
import matplotlib
import numpy
import pandas as pd

In [57]:
#load data and map <50k to 0, >50k to 1

#load data
df = pd.read_csv("../data/adult/adult.data",1,",")
df.columns = ["age", "workclass", "fnlwgt", "education", "education-num",
    "marital-status", "occupation", "relationship", "race", "gender",
    "capital-gain", "capital-loss", "hpw", "country", "income"]

#change income to 0/1 
income_map={' <=50K':0,' >50K':1}
df['income']=df['income'].map(income_map).astype(int)

#check missing values
print('Missing values:', df.isnull().values.any())

Missing values: False

In [58]:
#view example data
print('Shape: ',df.shape)
print(df.head(2))

Shape:  (32560, 15)
   age          workclass  fnlwgt   education  education-num  \
0   50   Self-emp-not-inc   83311   Bachelors             13
1   38            Private  215646     HS-grad              9

        marital-status          occupation    relationship    race gender  \
0   Married-civ-spouse     Exec-managerial         Husband   White   Male
1             Divorced   Handlers-cleaners   Not-in-family   White   Male

   capital-gain  capital-loss  hpw         country  income
0             0             0   13   United-States       0
1             0             0   40   United-States       0

In [59]:
#check negative/positive class split

print('Positive class: ', df['income'].sum()/df['income'].count())
print('Negative class: ', 1-df['income'].sum()/df['income'].count())

Positive class:  0.24081695331695332
Negative class:  0.7591830466830467

In [60]:
# remove capital-gain and capital-loss, seem to be mostly 0s
df.drop("capital-gain", axis=1,  inplace=True)
df.drop("capital-loss", axis=1,  inplace=True)

df.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,gender,hpw,country,income
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,0
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,0

In [52]:
#save target variable 'income' and delete from database

y=df['income']
df.drop("income", axis=1,  inplace=True)

In [61]:
#convert remaining categorical variables to dummies

categorical_columns=["workclass", "education",
    "marital-status", "occupation", "relationship", "race", "gender", "country"]
df = pd.get_dummies(df, columns=categorical_columns)

In [65]:
# new data view

print('Shape: ',df.shape[0])
df.head(2)

Shape:  32560

,age,fnlwgt,education-num,hpw,income,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,...,country_ Portugal,country_ Puerto-Rico,country_ Scotland,country_ South,country_ Taiwan,country_ Thailand,country_ Trinadad&Tobago,country_ United-States,country_ Vietnam,country_ Yugoslavia
0,50,83311,13,13,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,38,215646,9,40,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0